.content{
    border-color: black;
    display: flex;
    position: absolute;
    padding-left: 100px;
    padding-top: 60px;
}
body{
    background-color: rgb(17, 14, 14);
}
h3{
    color: aliceblue;
    position: relative;
    top: 30px;
    left: 20px;
    font-size: 15px;
    
}
h1{
    color: rgb(15, 116, 204);
    font-size: 50px;
}