.content{
    border-color: black;
    display: flex;
    position: absolute;
    padding-left: 330px;
    padding-top: 30px;
}
body{
    background-color: rgb(17, 14, 14);
}
h3{
    color: aliceblue;
    padding-top: 300px;
    padding-right: 600px;
    display: contents;
    align-content: last baseline;
}